*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: rgb(228, 228, 228);
    
}
body{
    background-color: rgb(41, 41, 41);
}
.logo{
    margin-left:-250px;
}
nav{
    display:flex;
    justify-content: space-around;
    min-height:9vh;
    align-items: center;
    background-color: rgb(207, 0, 0);
}
.top-links{
    display:flex;
    justify-content:space-around;
    width: 20%;
    list-style:none;
}
.top-links a{
    text-decoration:none;
}
.gameType{
    display:none;
}
h1{
    text-align: center;
    font-size: 300%;
}